{% extends 'base.html' %}

{% block content %}
  <main class="container">
    <div class="col-md-6 offset-md-3">
      <div class="text-center display">
        <h1 class="text-center display-3">Tareas Pendientes</h1>

        <ul class="list-group">
          {% for tarea in tareas %}
            <a class="list-group-item" href="{% url 'tarea_detail' tarea.id %}">
                <header class="d-flex justify-content-between">
                  {% if tarea.importante %}
                  <h3 class="fw-bold text-success">{{ tarea.titulo }}</h3>
                  {% else %}
                  <h3 class="fw-bold">{{ tarea.titulo }}</h3>
                  {% endif %}
                  <p>{{ tarea.user }}</p>
                </header>
                <p>{{ tarea.descripcion }}</p>
                
                <p>{{ tarea.datecompleted|date:'j M Y' }}</p>
            </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </main>
{% endblock %}
